@model Tour_Plan_Agency.Models.tblHotelService

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblHotelService</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblHotel.Hotel_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblHotel.Hotel_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Service_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Service_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service_Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Service_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
