@model Tour_Plan_Agency.Models.tblCity

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Create", "tblCities", FormMethod.Post, new { enctype = "multipart/form-data" }))
{     @Html.AntiForgeryToken()

   <div class="form-horizontal">
        <h4>tblCity</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.City_ID)

   <div class="form-group">
       @Html.LabelFor(model => model.City_Name, htmlAttributes: new { @class = "control-label col-md-2" })
       <div class="col-md-10">
           @Html.EditorFor(model => model.City_Name, new { htmlAttributes = new { @class = "form-control" } })
           @Html.ValidationMessageFor(model => model.City_Name, "", new { @class = "text-danger" })
       </div>
       @Html.LabelFor(model => model.City_image, htmlAttributes: new { @class = "control-label col-md-2" })
       <div class="col-md-10">
           @Html.EditorFor(model => model.City_image, new { htmlAttributes = new { @class = "form-control" } })
           @Html.ValidationMessageFor(model => model.City_image, "", new { @class = "text-danger",@readonly=""})
           <input type="file" name="pic" required accept="img/*" />
       </div>
   </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    
   
 
   </div>}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
