@model IEnumerable<Tour_Plan_Agency.Models.tblBookTour>

@{
    ViewBag.Title = "NewBookings";
}
@Html.Raw(TempData["msg"])
<h2>NewBookings</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Booking_ID)
        </th><th>
            @Html.DisplayNameFor(model => model.tblCustomer.Customer_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Availability_status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Booking_ID)
        </td> <td>
            @Html.DisplayFor(modelItem => item.tblCustomer.Customer_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Booking_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Booking_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Booking_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Availability_status)
        </td> 
        <td>
            <a href="@Url.Action("Invoice","Adminsite", new {id= item.Booking_ID})" class="btn btn-primary">Invoice </a>
        </td><td>
            <a href="@Url.Action("SendToProceed","Adminsite", new {id= item.Booking_ID})" class="btn btn-primary">Update to Proceed</a>
        </td>
        
    </tr>
}

</table>
